<div class="container">
    <p>Lista Garantias</p>
    <button type="submit" class="btn btn-primary" (click)="agregarG()">AGREGAR +</button>
  <div  style="text-align: center;"> 
   
    <table class="table table-bordered">
      <thead>
        <tr>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">DETALLE DE LA GARANTIA</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let garantiavehiculo of garantiavehiculo">
            <td scope="row">{{garantiavehiculo.descripcion}}</td>
            <td scope="row">
                <ul *ngFor ="let detalle of garantiavehiculo.detallegarantia">
                    <li>{{detalle.cobertura}}</li>
                    <li>{{detalle.perido}}</li>
                </ul>
            </td>
           
            <td><button type="submit" class="btn btn-success" (click)="eliminarG(garantiavehiculo)" >Eliminar</button></td>
       -->
        </tr>
      </tbody>
    </table>
  </div>

  </div>
