  <div class="container" style="text-align: center;" >
    <!--
     <button class="btn btn-primary" (click)="carga()" style="float: right;">Cargar</button> 
    
     <br>
     <br>
    <br>
    -->
    <p>Insertar Vehiculo </p> 
    <form [formGroup]="Vehiculoform" (ngSubmit)="guardarV()" id="f">
  
        
        <label *ngIf="boton_pulsado" > CHASIS </label>
        <input *ngIf="boton_pulsado" type="text"   formControlName="chasis" class="form-control"  >

        <label  > COLOR</label>
        
        <select name="color" id="color" formControlName="color" class="form-control">
          <option  >NEGRO</option>
          <option  >ROJO</option>
          <option  >AZUL</option>
          <option  >GRIS</option>
          <option  >VERDE</option>
          <option  >AMARILLO</option>
          <option  >CAFE</option>
          <option  >BLANCO</option>

          </select>
        
        <label>  RAMV </label>
        <input type="text" formControlName="ramv" class="form-control">
  
        <label>  PRECIO </label>
        <input type="number" formControlName="precio" class="form-control">
        
        <label>  PRECIO VENTA </label>
        <input type="number" formControlName="precio_venta" class="form-control">
       <!--
        <label>PRECIO: </label> 
      <input class="form-control"   formControlName="precio" type="number" id="trord" onblur="document.getElementById('uno').value=this.value" />
      <label> PRECIO VENTA: </label>la
      <input type="number" id="uno" formControlName="precio_venta"  class="form-control" >  
 -->
        <label>PAIS</label>
        <select name="pais" id="pais" formControlName="pais" class="form-control" >
          <option [ngValue]="pais" *ngFor="let pais of PaisList"  >{{pais.nombre}}</option>
          </select>
          <label>GARANTIA</label>
        <select name="garantia" id="garantia" formControlName="garantia" class="form-control">
          <option [ngValue]="garantia" *ngFor="let garantia of garantiaList">{{garantia.descripcion}}</option>
          </select>

          <label>CATALOGO</label>
        <select name="vehiculoCatalogo" id="vehiculoCatalogo" formControlName="vehiculoCatalogo" class="form-control">
          <option [ngValue]="vehiculoCatalogo" *ngFor="let vehiculoCatalogo of CatalogoList">{{vehiculoCatalogo.id_vehiculo_catalogo}}-{{vehiculoCatalogo.diseno.marca}}-{{vehiculoCatalogo.diseno.modelo}}</option>
          </select>

    <br>
        
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-success" [disabled]="Vehiculoform.invalid">GUARDAR</button>
          <ul></ul>
          <ul></ul>
          <ul></ul>
          <button class="btn btn-danger" [mat-dialog-close]>CANCELAR</button>
        </div>
     
    </form>

  </div>