<br>
<h1 class="card-title" style="text-align: center;">ORDEN REPARACION </h1>
<div class="caracteristicas">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="OrdenRepCabeceraForm" >
          <div class="form-head">
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> FECHA EMISION</label>
                  <input type="date" formControlName="fecha_emision" class="form-control">
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> FECHA INGRESO</label>
                  <input type="date" formControlName="fechaIngreso" class="form-control">
                  <div class="text-danger"></div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> INSPECCION </label>
                  <select name="inspeCuerpo" id="inspeCuerpo" formControlName="inspeCuerpo" class="form-control">
                    <option [ngValue]="inspeCuerpo" *ngFor="let inspeCuerpo of InspeccionList">{{inspeCuerpo.idinspeCuerpo}}</option>
                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> COSTO DE MANO DE OBRA</label>
                  <input type="number" step="0.01" formControlName="costoManoObra" class="form-control" min="0.1"  placeholder="Ejm: 20.2" style="">
                  <div class="text-danger"></div>
                </div>
              </div>

            </div>
            <br>
            <!--<button type="submit" class="btn btn-primary">GUARDAR</button>-->
            <!--<button type="submit" class="btn btn-primary" [disabled]="OrdenRepCabeceraForm.invalid">GUARDAR</button>-->
          </div>
        </form>
          <!--____________________________________________________CUERPO ORDEN_______________________________________________________________________________________-->
          <form [formGroup]="OrdenRepCuerpoForm" >
            <div class="card">
              <div class="card-body">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label> ID ORDEN CABECERA</label>
                        <select name="ordenRepCavecera" id="ordenRepCavecera" formControlName="ordenRepCavecera"  class="form-control">
                          <option [ngValue]="ordenRepCavecera" *ngFor="let ordenRepCavecera of ordenCabeceraList">
                            {{ordenRepCavecera.idordenCave}}</option>
                        </select>
                        <div class="text-danger"></div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label> ESTADO DE LA ORDEN</label>
                        <select type="text" formControlName="estadoOrden" class="form-control">
                          <option>aprobado</option>
                        </select>
                        <div class="text-danger"></div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label> OBSERVACIONES</label>
                        <input type="text" formControlName="observaciones" class="form-control" placeholder="Ejm: ">

                        <div class="text-danger"></div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label> TRABAJO SOLICITADO</label>
                        <input type="text" formControlName="trabajoSolicitado" class="form-control">
                        <div class="text-danger"></div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label> TRABAJO A REALIZAR</label>
                        <textarea rows="3" cols="60" name="text"  formControlName="trabajoRealizar"  class="form-control"></textarea>
                        <div class="text-danger"></div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label> IMAGENES</label>
                          <input type="text" formControlName="imagenes" class="form-control">
                          <div class="text-danger"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>

                </div>
              </div>
            </div>
            <br>
        </form>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 5px;" [disabled]="OrdenRepCuerpoForm.invalid && OrdenRepCabeceraForm.invalid" (click)="guardar()">GUARDAR</button>-
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container1" style="text-align: center;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center;"> ID CABECERA</th>
        <th style="text-align: center;"> FECHA EMISION </th>
        <th style="text-align: center;"> FECHA INGRESO </th>
        <th style="text-align: center;"> INSPECCION </th>
        <th style="text-align: center;"> COSTO DE MANO DE OBRA </th>
        <th style="width: 50px"><i class="fa fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordenCabReparacion of ordenCabeceraList">
        <td style="text-align: center;">{{ordenCabReparacion.idordenCave}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenCabReparacion.fecha_emision}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenCabReparacion.fechaIngreso}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenCabReparacion.inspeCuerpo.idinspeCuerpo}}
        </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenCabReparacion.costoManoObra}} </td>

        <td><button type="submit" class="btn btn-outline-danger px-3 py-2" (click)="eliminarOrden(ordenCabReparacion)"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="text-align: center;"> ID CUERPO</th>
          <th style="text-align: center;"> ID CABECERA </th>
          <th style="text-align: center;"> TRABAJO SOLICITADO </th>
          <th style="text-align: center;"> TRABAJO A REALIZAR </th>
          <th style="text-align: center;"> OBSERVACIONES </th>
          <th style="text-align: center;"> IMAGEN </th>
          <th style="text-align: center;"> ESTADO ORDEN </th>
          <th style="width: 50px"><i class="fa fa-trash"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordenes of OrdenCuerpoList">
          <td style="text-align: center;">{{ordenes.idordenCuerpo}} </td>
          <td style="text-align: center;text-transform:uppercase;">{{ordenes.ordenRepCavecera.idordenCave}} </td>
          <td style="text-align: center;text-transform:uppercase;">{{ordenes.trabajoSolicitado}} </td>
          <td style="text-align: center;text-transform:uppercase;">{{ordenes.trabajoRealizar}} </td>
          <td style="text-align: center;text-transform:uppercase;">{{ordenes.observaciones}} </td>
          <td style="text-align: center;text-transform:uppercase;">{{ordenes.imagenes}} </td>
          <td style="text-align: center;text-transform:uppercase;">{{ordenes.estadoOrden}} </td>

          <td><button type="submit" class="btn btn-outline-danger px-3 py-2" (click)="eliminarOrdenCuerpo(ordenes)"><i
                class="fa fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
</div>
<!--
<br>
<!--__________________________________________________________________________________________________________________________________________________________--
<div class="card">
  <div class="card-body">
    <form [formGroup]="OrdenRepCuerpoForm" (ngSubmit)="guardarOrdenCuerpo()">
      <div class="form-body">
        <h3 class="card-title1">INGRESAR NUEVA ORDEN REPARACION CUERPO</h3>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label> ID ORDEN CABECERA</label>
              <select name="ordenRepCavecera" id="ordenRepCavecera" formControlName="ordenRepCavecera" class="form-control">
                <option [ngValue]="ordenRepCavecera" *ngFor="let ordenRepCavecera of ordenList">{{ordenRepCavecera.idordenCave}}</option>
              </select>
              <!--<input type="text" formControlName="asdasd" class="form-control" placeholder="Ejm: ">--
              <div class="text-danger"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label> ESTADO DE LA ORDEN</label>
              <select type="text" formControlName="estadoOrden" class="form-control">
                <option>aprobado</option>
              </select>
              <div class="text-danger"></div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label> OBSERVACIONES</label>
              <input type="text" formControlName="observaciones" class="form-control" placeholder="Ejm: ">

              <div class="text-danger"></div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-md-5">
            <div class="form-group">
              <label> TRABAJO A REALIZAR</label>
              <input type="text" formControlName="trabajoRealizar" class="form-control">
              <div class="text-danger"></div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label> TRABAJO SOLICITADO</label>
              <input type="text" formControlName="trabajoSolicitado" class="form-control">
              <div class="text-danger"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label> IMAGENES</label>
                <input type="text" formControlName="imagenes" class="form-control">
                <div class="text-danger"></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="OrdenRepCuerpoForm.invalid">GUARDAR</button>
      </div>
    </form>
  </div>
</div>
</div>

<h3 class="display-4 text-center my-5">LISTADO DE ORDENES REPARACION CUERPO</h3>
<div class="container1" style="text-align: center;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center;"> ID </th>
        <th style="text-align: center;"> ID CABECERA </th>
        <th style="text-align: center;"> TRABAJO SOLICITADO </th>
        <th style="text-align: center;"> TRABAJO A REALIZAR </th>
        <th style="text-align: center;"> OBSERVACIONES </th>
        <th style="text-align: center;"> IMAGEN </th>
        <th style="text-align: center;"> ESTADO ORDEN </th>
        <th style="width: 50px"><i class="fa fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordenes of OrdenCuerpoList">
        <td style="text-align: center;">{{ordenes.idordenCuerpo}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenes.ordenRepCavecera.idordenCave}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenes.trabajoSolicitado}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenes.trabajoRealizar}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenes.observaciones}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenes.imagenes}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{ordenes.estadoOrden}} </td>

        <td><button type="submit" class="btn btn-outline-danger px-3 py-2" (click)="eliminarOrdenCuerpo(ordenes)"><i
              class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<br>-->
