<main class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center my-5">TALLER</h1>
        </div>

        <div class="col-12">
            <div class="row g-5 align-items-center p-2 p-md-3">
                <div class="col-auto">
                    <label for="estado">Buscar por estado:</label>
                </div>
                <div class="col-auto ms-md-2">
                    <select class="form-select" name="" id="estado" style="width: 15rem;"
                        (change)="changeEstadoBuscador($event)">
                        <option value="EN REVISION DEL TALLER">EN REVISIÓN DEL TALLER</option>
                        <option value="REVISADO POR EL TALLER">REVISADO POR EL TALLER</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12">
            <table class="table table-responsive table-dark table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>id</th>
                        <th>CÉDULA</th>
                        <th>DUEÑO</th>
                        <th>AUTOMOVIL</th>
                        <th>ESTADO</th>
                        <th>FECHA DE SOLICITUD</th>
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{orden.id}}</td>
                        <td>{{orden.persona.identificacion}}</td>
                        <td>{{orden.persona.label}}</td>
                        <td>{{orden.vehiculo.label}}</td>
                        <td>{{orden.estado}}</td>
                        <td>{{orden.fechaIngreso}}</td>
                        <td>
                            <a routerLink="/taller/orden/{{orden.id}}" class="btn btn-warning w-100">
                                <i class="fas fa-thin fa-info">
                                </i>
                                Detalle
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>