<main class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center my-5">TALLER</h1>
        </div>

        <div class="col-12">
            <table class="table table-responsive table-dark table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>id</th>
                        <th>CÉDULA</th>
                        <th>DUEÑO</th>
                        <th>AUTOMOVIL</th>
                        <th>ESTADO</th>
                        <th>FECHA DE SOLICITUD</th>
                        <!-- <th>REPUESTO</th> -->
                        <!-- <th>REPUESTO ESTADO</th> -->
                        <!-- <th>ESTADO</th> -->
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{orden.id}}</td>
                        <td>{{orden.identificacionCliente}}</td>
                        <td>{{orden.duenio}}</td>
                        <td>{{orden.automovil}}</td>
                        <td>{{orden.estado}}</td>
                        <td>{{orden.fecha}}</td>
                        <td>
                            <a routerLink="/taller/orden/{{orden.id}}" class="btn btn-warning w-100">
                                <i class="fas fa-thin fa-info">
                                </i>
                                Detalle
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>