<div class="container">

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" style="width: 100%;"> </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1> Informes Para La Concesionaria </h1>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-ml-12">
            <table class="table">
                <thead>

                    <th scope="col">ID</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">COSTO</th>
                    <th scope="col">PORCENTAJE</th>
                    <th scope="col">ESTADO</th>

                </thead>
                <tbody>
                    <tr *ngFor="let informe of informe">
                        <th scope="row">{{informe.idConcesionaria}}</th>
                        <th scope="row">{{informe.descricion}}</th>
                        <th scope="row">{{informe.costo}}</th>
                        <th scope="row">{{informe.porcentaje}}</th>
                        <th scope="row">{{informe.estado}}</th>
            
                        <td><button type="submit" class="btn btn-success" (click)="eliminar(informe)">Eliminar</button></td>
                        <td><button class="btn btn-primary" type="button"  (click)="cargar(informe.idConcesionaria )">Editar</button></td>
                        <td><button class="btn btn-success" type="button"  >PDF</button></td>




                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <br>
            <form [formGroup]="Informeform" (ngSubmit)="guardarI()" id="f">
              <div>
                
                <label> DESCRIPCION </label>
                <input  type="text"   formControlName="descricion" class="form-control"  >
    
                <label> COSTO TOTAL</label>
                <input type="text" formControlName="costo" class="form-control">
                
                <label>  PORCENTAJE DESCUENTO </label>
                <input type="text" formControlName="porcentaje" class="form-control">
          
                <label>  ESTADO </label>
                <input type="text" formControlName="estado" class="form-control">
                <button type="submit" class="btn btn-success" [disabled]="Informeform.invalid">GUARDAR</button>
              </div>
             
            </form>
       
          </div>

    </div>