<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1> Informes Para La Concesionaria </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-ml-12">
            <button type="button" class="btn btn-primary" (click)="agregar()">AGREGAR</button>
            <table class="table">
                <thead>

                    <th scope="col">ID</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">PORCENTAJE</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">TOTAL</th>

                </thead>
                <tbody>
                    <tr *ngFor="let informe of informe">
                        <th scope="row">{{informe.idConcesionaria}}</th>
                        <th scope="row">{{informe.descricion}}</th>
                        <th scope="row">{{informe.porcentaje}}</th>
                        <th scope="row">{{informe.estado}}</th>
                        <th scope="row">{{informe.total}}</th>
            
                        <td><button type="submit" class="btn btn-danger" (click)="eliminar(informe)">Eliminar</button></td>
                       
                        <td><button class="btn btn-success" (click)="reclamoPDF(informe)">PDF</button></td>




                    </tr>
                </tbody>
            </table>
        </div>


    </div>