<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="containerimg">
          <img src="https://th.bing.com/th/id/OIP.b-g6X5Zq2BHtlEE0OX8NWAAAAA?pid=ImgDet&rs=1" class="img-thumbnail"
            alt="80dp" width="80dp" routerLink="/" />
        </div>

        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" class="nav-link active" aria-current="page"
            href="#">StarMotor´s</a>
        </li>
        <li class="nav-item">
          <a routerLink="/garantiaV" routerLinkActive="active" class="nav-link" href="#"  *ngIf="(auth.isAuthenticated$ | async)">Garantia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caracteristicas"  *ngIf="(auth.isAuthenticated$ | async)">Característica</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/catalogo"  *ngIf="(auth.isAuthenticated$ | async)">Catálogo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/Vehiculo"  *ngIf="(auth.isAuthenticated$ | async)">Vehículo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/facturas"  *ngIf="(auth.isAuthenticated$ | async)">Facturas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/solicitud/garantia"  *ngIf="(auth.isAuthenticated$ | async)">Solicitudes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/reclamo/garantia"  *ngIf="(auth.isAuthenticated$ | async)">Reclamos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-reclamo"  *ngIf="(auth.isAuthenticated$ | async)">Lista Reclamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orden-reparacion"  *ngIf="(auth.isAuthenticated$ | async)">Orden de Reparación</a>
        </li>
        <mat-form-field class="nav-item" style="margin-top: 18px; text-align: center; width: 80px;"  *ngIf="(auth.isAuthenticated$ | async)">
          <mat-select placeholder="Taller">
            <mat-option  routerLink="/repuestos"> Repuestos</mat-option>
            <mat-option   routerLink="/taller"> Taller</mat-option>
            <mat-option   routerLink="/lista-entregar-repuestos">Entrega Repuestos</mat-option>
          </mat-select>
        </mat-form-field>
        <li class="nav-item">
          <a class="nav-link" routerLink="/InformeConcesionaria"  *ngIf="(auth.isAuthenticated$ | async)">Informe Concesionaria</a>
        </li>
      </ul>
    </div>
  </div>
  <div style="margin-right: 5px;">
  <button class="btn btn-primary" *ngIf="!(auth.isAuthenticated$ | async)" (click)="login()">INGRESAR</button>
  <button class="btn btn-danger" *ngIf="(auth.isAuthenticated$ | async)" (click)="logout()">SALIR</button>
</div>
</nav>
