<h1 class="display-4 text-center my-5">DISEÑO DE VEHICULO</h1>
<div class="facturarepuesto">

      <table class="table table-bordered">

        <thead>
          <tr>
            <th> ID DISEÑO </th>
            <th> MARCA </th>
            <th> MODELO </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disenos of disenoList">
            <td>{{disenos.id_diseno}} </td>
            <td>{{disenos.marca}}</td>
            <td>{{disenos.modelo}}</td>
            <!--<td><button type="submit" class="btn btn-success" >Eliminar</button></td>-->
          </tr>
        </tbody>
      </table>
    </div>
