    <div class="facturarepuesto">
      <br>
      <h4>--------- repuestos --------</h4>
      <form [formGroup]="repuestosform" (ngSubmit)="guardarrepuestos()">
        <div>
          <br>
          <label> nombre repuesto</label>
          <input type="text" formControlName="nombre_repuesto" class="form-control">
          <br>
          <label>fk id diseno</label>
          <select name="diseno" id="diseno" formControlName="diseno" class="form-control">
            <option [ngValue]="diseno" *ngFor="let diseno of DisenoList">{{diseno.modelo}}</option>
            </select>

          <label> precio de venta</label>
          <input type="text" formControlName="precio" class="form-control">
          <br>
          <label> estado</label>
          <input type="text" formControlName="estado" class="form-control">
          <br>
          <button type="submit" class="btn btn-success" [disabled]="repuestosform.invalid">GUARDAR</button>
        </div>
      </form>
    </div>


    <div class="facturarepuesto">
      <table class="table table-bordered">

        <thead>
          <tr>
            <th>id repuesto </th>
            <th>id diseno </th>
            <th> marca </th>
            <th> modelo </th>
            <th> nombre repuesto </th>
            <th> precio de venta </th>
            <th> estado </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repuestos of repuestosList">
            <td>{{repuestos.id_repuesto}} </td>
            <td>{{repuestos.diseno.id_diseno}} </td>
            <td>{{repuestos.diseno.marca}}</td>
            <td>{{repuestos.diseno.modelo}}</td>
            <td>{{repuestos.nombre_repuesto}} </td>
            <td>{{repuestos.precio}}</td>
            <td>{{repuestos.estado}}</td>
            <td><button type="submit" class="btneditar btn-warning" (click)="editarRepuestos(repuestos)">Editar</button>
              <br>
              <br>
              <button type="submit" class="btneliminar btn-danger" (click)="eliminarRepuestos(repuestos)">Eliminar</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
