<h1 class="display-4 text-center my-5">REPUESTOS</h1>
<div class="repuesto">
  <div class="card">
    <form [formGroup]="repuestosform" (ngSubmit)="guardarrepuestos()">
      <div>
        <h3 class="display-4 text-center my-5">INGRESAR NUEVO REPUESTO</h3>

        <label style="text-align: center;text-transform:uppercase;"> nombre del repuesto</label>
        <select type="text" formControlName="nombre_repuesto" class="form-control" placeholder="Ejm: Amortiguadores">
        <option>Aceite de motor</option>
        <option>Discos de freno</option>
        <option>Pastillas de freno</option>
        <option>Filtro de aceite</option>
        <option>Bujía de encendido</option>
        <option>Amortiguadores</option>
        <option>Filtro de aire</option>
        <option>Escobillas limpiaparabrisas</option>
        <option>Buje de rueda</option>
        <option>Filtro de habitáculo</option>
        <option>Discos de embrague</option>
        <option>Caja de cambios</option>
      </select>
        <br>
        <label style="text-align: center;text-transform:uppercase;">diseño del vehiculo</label>
        <select name="diseno" id="diseno" formControlName="diseno" class="form-control">
          <option [ngValue]="diseno" *ngFor="let diseno of DisenoList">{{diseno.modelo}}</option>
        </select>
        <br>
        <label style="text-align: center;text-transform:uppercase;"> precio del repuesto</label>
        <input type="number" step="0.1" formControlName="precio" class="form-control" min="0.1"  placeholder="Ejm: 20.2">
        <br>
        <label style="text-align: center;text-transform:uppercase;"> estado del repuesto</label>
        <select type="text" formControlName="estado" class="form-control">
          <option>true</option>
          <option>false</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="repuestosform.invalid">GUARDAR</button>
      </div>
    </form>
  </div>
</div>
<br>
<br>

<div class="container" style="text-align: center;">
  <h3 class="display-4 text-center my-5">LISTADO DE REPUESTOS</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
      </tr>
      <tr>
        <th style="text-align: center"> ID REPUESTO </th>
        <th style="text-align: center">ID DISENO </th>
        <th style="text-align: center"> MARCA </th>
        <th style="text-align: center"> MODELO </th>
        <th style="text-align: center"> NOMBRE REPUESTO </th>
        <th style="text-align: center"> PRECIO DE VENTA </th>
        <th style="text-align: center"> ESTADO </th>
        <th style="width: 50px"><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repuestos of repuestosList">
        <td style="text-align: center;">{{repuestos.id_repuesto}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{repuestos.diseno.id_diseno}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{repuestos.diseno.marca}}</td>
        <td style="text-align: center;text-transform:uppercase;">{{repuestos.diseno.modelo}}</td>
        <td style="text-align: center;text-transform:uppercase;">{{repuestos.nombre_repuesto}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{repuestos.precio}}</td>
        <td style="text-align: center;text-transform:uppercase;">{{repuestos.estado}}</td>
        <td><button type="submit" class="btn btn-outline-warning px-3 py-2"  (click)="editarRepuestos(repuestos)"><i class="fa fa-pencil"></i></button>
          <br>
          <br>
          <button type="submit" class="btn btn-outline-danger px-3 py-2" (click)="eliminarRepuestos(repuestos)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
