<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Reclamos</title>
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
            <div class="card-body">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Buscar Clientes
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label for="basic-url" class="form-label">Cedula</label>
                        <div class="input-group mb-3">
                          <input type="text" name="cedulaCli" [(ngModel)]="cedulaCliente" class="form-control" id="cedula" aria-describedby="basic-addon3">
                        </div>
                        <label for="basic-url" class="form-label">Respuesta Cliente</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" [(ngModel)]="respuestacliete" id="respuestaCl" aria-describedby="basic-addon3">
                        </div>
                        <button type="button" (click)="filtroCliente()" class="btn btn-success">Buscar</button>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Buscar vehiculo
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label for="basic-url" class="form-label">Tipo Informe</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="tipoinformecavehiculo" id="tipoinforme" aria-describedby="basic-addon3">
                      </div>
                      <label for="basic-url" class="form-label">Marca</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="marcavehiculo"id="marca" aria-describedby="basic-addon3">
                      </div>
                      <label for="basic-url" class="form-label">Modelo</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="modelocavehiculo"id="modelo" aria-describedby="basic-addon3">
                      </div>
                      <label for="basic-url" class="form-label">Año de fabricación</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="anofabricavehiculo"id="anofabricacion" aria-describedby="basic-addon3">
                      </div>
                      <label for="basic-url" class="form-label">País Origen</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="paiscavehiculo"id="paisorigen" aria-describedby="basic-addon3">
                      </div>
                      <label for="basic-url" class="form-label">Color</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="colorcavehiculo"id="color" aria-describedby="basic-addon3">
                      </div>
                      <button type="button" (click)="filtrovehiculo()" class="btn btn-success">Buscar</button>
                     </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Reclamo Vehiculo
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label for="basic-url" class="form-label">Vehiculo Reclamos Aprobados</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="mayorcantida" id="mayorcantida" aria-describedby="basic-addon3" disabled>

                      </div>
                      <button type="button" (click)="filtroreclamo()" class="btn btn-success">Buscar</button>
                      <label for="basic-url" class="form-label">Fecha Inicio</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="fechainicio" id="fechainicio" aria-describedby="basic-addon3">
                      </div>
                      <label for="basic-url" class="form-label">Fecha fin</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="fechafin" id="fechafin" aria-describedby="basic-addon3">
                      </div>
                      <button type="button" (click)="filtroFecha()" class="btn btn-success">Buscar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-sm-10">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año de fabricación</th>
        <th scope="col">Pais de origen</th>
        <th scope="col">Color</th>
        <th scope="col">Tipo Informe</th>
         <th scope="col">Respuesta Cliente</th>
        <th scope="col" >Ver</th>
        <th scope="col">Inspeccion</th>
      </tr>
    </thead>
    <tbody id="myTable">
  <tr *ngFor="let i of this.listaInforme; let j=index">
        <th style="display: none;">{{i.reclamogarantia?.id_reclamo}}</th>
        <th>{{j+1}}</th>
        <th >{{i.idinformeRecha}}</th>
        <td>{{i.fechaEmicion | date:'yyyy-MM-dd'}}</td>
        <td>{{i.client.cedulaClient}}</td>
        <td>{{i.reclamogarantia.fk_id_solicitud.fk_chasis_vehiculo.vehiculoCatalogo.diseno.marca}}</td>
        <td>{{i.reclamogarantia.fk_id_solicitud.fk_chasis_vehiculo.vehiculoCatalogo.diseno.modelo}}</td>
        <td>{{i.reclamogarantia.fk_id_solicitud.fk_chasis_vehiculo.vehiculoCatalogo.year_vehiculo}}</td>
        <td>{{i.reclamogarantia.fk_id_solicitud.fk_chasis_vehiculo.pais.nombre}}</td>
        <td>{{i.reclamogarantia.fk_id_solicitud.fk_chasis_vehiculo.color}}</td>
        <td>{{i.tipoInforme}}</td>
        <td>{{i.respuestaCliente}}
          <div class="card-group">
          <div *ngIf="i.respuestaCliente==null">sin respuesta</div>
          <!--opcion btn 1-->
          <div *ngIf="i.respuestaCliente == null" style="margin-left: 30px;">
          <div>
            <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="aceptarCliente(i.idinformeRecha)" mat-mini-fab style="background-color:green;" aria-label="Example icon button with a menu icon">
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </div>
          </div>
          <div>
            <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="canceladoCliente(i.idinformeRecha)" mat-mini-fab color="warn">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
          </div>
        </div>
        <!--opcion btn 2-->
        <div *ngIf="i.respuestaCliente != null" style="margin-left: 30px;">
          <div *ngIf="i.respuestaCliente == rechazado">
            <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="aceptarCliente(i.idinformeRecha)" mat-mini-fab  color="warn" aria-label="Example icon button with a menu icon">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
          </div>
          <div *ngIf="i.respuestaCliente == aceptado">
            <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="canceladoCliente(i.idinformeRecha)" mat-mini-fab  style="background-color:green;">
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </div>
          </div>
        </div>
      </div>
      </td>
        <td>
          <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="Ver(i.client.cedulaClient,i.reclamogarantia?.id_reclamo,i.idinformeRecha)" mat-mini-fab style="background-color: cadetblue;">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td>
          <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="abrirInspeccion(i.reclamogarantia?.id_reclamo,i.idinformeRecha)" mat-mini-fab style="background-color: darkgray;">
                <mat-icon>receipt</mat-icon>
              </button>
            </div>
          </div>
          </td>
      </tr>
       </tbody>
  </table>
</div>
</div>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
</body>
</html>
