<div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Filtrar Solicitudes</h3>
                <select [(ngModel)]="estado" (change)="listar()" class="form-select">
                    <option [ngValue]="null">---Todas---</option>
                    <option [ngValue]="true">Pendientes</option>
                    <option [ngValue]="false">Reclamadas</option>
                </select>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" style="text-align: center;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">SOLICITUDES DE GARANTÍA VEHICULAR</h3>
                <table class="table table-bordered table-responsive-sm table-sm
                text-center">
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>CHASIS</th>
                            <th>VEHÍCULO</th>
                            <th>DESCRIPCIÓN</th>
                            <th *ngIf="estado">HACER RECLAMO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let solicitud of solGarantiasList">
                            <td style="display: none;">{{solicitud.id_solicitud}}</td>
                            <td>{{solicitud.fecha_solicitud}}</td>
                            <td>{{solicitud.fk_chasis_vehiculo.chasis}}</td>
                            <td>{{solicitud.fk_chasis_vehiculo.vehiculoCatalogo.diseno.marca}}{{solicitud.fk_chasis_vehiculo.vehiculoCatalogo.diseno.modelo}}
                            </td>
                            <td>{{solicitud.descripcion}}</td>
                            <td><button class="btn btn-success" *ngIf="estado" (click)="cambiarEstadoSoli(solicitud.id_solicitud)">RECLAMAR</button></td>
                            <!--<td><button class="btn btn-danger" (click)="eliminarSoicitud(solicitud)">ELIMINAR</button></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--
<div class="container">
    <form [formGroup]="solGarantiaForm" (ngSubmit)="guardarSolicitud()">

        <div class="form-group">
            <label>Fecha: </label>
            <input type="date" formControlName="fecha_solicitud" class="form-control">
        </div>
        <div class="form-group">
            <label>Vehiculo:</label>
            <select name="fk_chasis_vehiculo" id="fk_chasis_vehiculo" formControlName="fk_chasis_vehiculo" class="form-control">
        <option [ngValue]="vehiculo" *ngFor="let vehiculo of vehiculosList">{{vehiculo.chasis_vehiculo}}</option>
      </select>
        </div>
        <div class="form-group">
            <label>Descripción:</label>
            <input type="text" formControlName="descripcion" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="solGarantiaForm.invalid">GUARDAR</button>
    </form>
</div>
-->