<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
      <h1><img src="https://th.bing.com/th/id/R.6fe83a5f966ad811ed944134397f0d58?rik=8tyZhX1aFzC6Uw&pid=ImgRaw&r=0" class="img-thumbnail" alt="40dp" width="40dp">Star Motor´s</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/caracteristicas">caracteristicas del vehiculo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/repuestos">Repuestos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/diseno">diseño de vehiculo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/catalogo">catalogo de vehiculos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" data-target="#submenu" aria-haspopup="true" aria-expanded="true">
              vehiculos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="submenu" aria-expanded="true">
              <a class="dropdown-item" routerLink="/caracteristicas">caracteristicas del vehiculo</a>
              <a class="dropdown-item" routerLink="/diseno">diseño de vehiculo</a>
              <a class="dropdown-item" routerLink="/catalogo">catalogo de vehiculos</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- *********************************************************************************************************************-->
    <br>
    <div class="facturarepuesto">

    </div>
    <router-outlet></router-outlet>
  </body>
</html>
