<br>
<h1 class="card-title" style="text-align: center;">CARACTERISTICAS DEL VEHICULO</h1>
<div class="caracteristicas">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="caracteristicasform" (ngSubmit)="guardarCaracteristicas()">
          <div class="form-body">
            <h3 class="card-title1" >INGRESAR NUEVAS CARACTERISTICAS DE VEHICULO</h3>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> CAPACIDAD DE CARGA</label>
                  <input type="text" formControlName="capacidad_carga" class="form-control" placeholder="Ejm: 400kg">
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> CILINDROS</label>
                  <select type="number" formControlName="cilindros" class="form-control" >
                    <option>3</option>
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                    <option>12</option>
                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label> DIRECCION</label>
                  <select type="text" formControlName="direccion" class="form-control">
                    <option>HIDRAULICA</option>
                    <option>MECANICA</option>
                    <option>ELECTRICA</option>
                    <option>ELECTRO-HIDRAULICA</option>
                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> DISEÑO INTERIOR</label>
                  <select type="text" formControlName="interior" class="form-control" placeholder="Ejm: Cuero">
                    <option>Sintetico</option>
                    <option>Cuero</option>
                    <option>Sintetico color gris</option>
                    <option>Sintetico color crema</option>
                    <option>Tapizado</option>
                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> TIPO DE MOTOR</label>
                  <select type="text" formControlName="motor" class="form-control" placeholder="Ejm: 1.2 L 4 cilindros" >
                    <option>Turbo diésel CRDI</option>
                    <option>1.2 L </option>
                    <option>Motor Turbo Torque 160 NM</option>
                    <option>1.5L dohc vvt</option>
                    <option>Motor V8 5.3L Ecotec 355HP / 519Nm</option>
                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label> VIDRIOS DEL VEHICULO</label>
                  <select type="text" formControlName="vidrios" class="form-control" placeholder="Ejm: Polarizados">
                    <option> Vidrio laminado</option>
                    <option> Vidrio laminado tintado</option>
                    <option> Vidrio termico tintado</option>
                    <option> Vidrio termico</option>
                    <option>Vidrio atérmico o con control solar</option>
                    <option>Vidrio hidrófobo</option>
                    <option>Vidrio acustico</option>
                  </select>
                  <div class="text-danger"></div>
                </div>
              </div></div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> AROS </label>
                  <select type="text" formControlName="rines" class="form-control" placeholder="Ejm: Aluminio" >
                    <option>17 pulgadas, Aleacion de cobre y niquel</option>
                    <option>17 pulgadas, Acero</option>
                    <option>17, pulgadas, Aluminio</option>
                    <option>17 pulgadas, Titanio</option>
                    <option>19 pulgadas, Aleacion de cobre y niquel</option>
                    <option>19 pulgadas, Acero</option>
                    <option>19, pulgadas, Aluminio</option>
                    <option>19 pulgadas, Titanio</option>

                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> SEGURIDAD DEL VEHICULO</label>
                  <select   type="text" formControlName="seguridad" class="form-control" placeholder="Cuatro airbags">
                    <option> Cuatro airbags</option>
                    <option> Sistema de frenos</option>
                    <option> Control Electronico de estabilidad</option>
                    <option> Asistente de arranque en pendiente</option>
                    <option> Asistente semi- automatico de estacionamiento</option>
                    <option> Distribucion electronica de frenado</option>
                    <option> Alerta de punto ciego</option>

                  </select>
                  <div class="text-danger"></div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label> TECNOLOGIA DEL VEHICULO</label>
                  <select type="text" formControlName="tecnologia" class="form-control" placeholder="Smartphone Integration">
                    <option> Conectividad 4g</option>
                    <option> Wi-Fi en un radio de hasta 15m del vehículo</option>
                    <option> Wi-Fi en un radio de hasta 15m del vehículo</option>
                    <option> Conexión automática</option>
                    <option> Pantalla tactil</option>
                    <option> GPS</option>
                    <option> Servicio OnStar</option>
                    <option> Aire acondicionado electronico</option>
                    <option> Camara de reversa digital de alta resolucion</option>

                  </select>
                  <div class="text-danger"></div>
                </div>
              </div></div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label> NUMERO DE CAMBIOS</label>
                    <input type="number" formControlName="velocidades" class="form-control" min="4" max="7">
                    <div class="text-danger"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label> NUMERO DE PUERTAS</label>
                    <input type="number" formControlName="numero_de_puertas" class="form-control" min="2" max="5" [maxLength]="1">
                    <div class="text-danger"></div>
                  </div>
                </div>



              </div>

            <br>
            <button type="submit" class="btn btn-primary" [disabled]="caracteristicasform.invalid">GUARDAR</button>
          </div>
        </form>
      </div></div></div></div>
<br>
<br>
<h3 class="display-4 text-center my-5">LISTADO DE CARACTERISTICAS DE LOS VEHICULOS</h3>
<div class="container1" style="text-align: center;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center;"> CARACTERISTICA </th>
        <th style="text-align: center;"> CAPACIDAD DE CARGA </th>
        <th style="text-align: center;"> CILIINDROS </th>
        <th style="text-align: center;"> DIRECCION </th>
        <th style="text-align: center;"> INTERIOR </th>
        <th style="text-align: center;"> MOTOR </th>
        <th style="text-align: center;"> PUERTAS </th>
        <th style="text-align: center;"> AROS </th>
        <th style="text-align: center;"> SEGURIDAD </th>
        <th style="text-align: center;"> TECNOLOGIA </th>
        <th style="text-align: center;"> VELOCIDADES </th>
        <th style="text-align: center;"> VIDRIOS </th>
        <th style="width: 50px"><i class="fa fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let caracteristicas of caracteristicasList">
        <td style="text-align: center;">{{caracteristicas.id_caracteristica}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.capacidad_carga}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.cilindros}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.direccion}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.interior}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.motor}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.numero_de_puertas}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.rines}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.seguridad}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.tecnologia}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.velocidades}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{caracteristicas.vidrios}} </td>

        <td><button type="submit" class="btn btn-outline-danger px-3 py-2"
            (click)="eliminarCaracteristica(caracteristicas)"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
