  <div class="caracteristicas">
    <br>
    <h4>--------- caracteristicas --------</h4>
    <form [formGroup]="caracteristicasform" (ngSubmit)="guardarCaracteristicas()">
      <div class="datos">
        <div>
          <label> capacidad de carga</label>
          <input type="text" formControlName="capacidad_carga" class="form-control">
        </div>
        <br>
        <label> cilindros</label>
        <input type="number" formControlName="cilindros" class="form-control">
        <br>
        <label> direccion</label>
        <input type="text" formControlName="direccion" class="form-control">
        <br>
        <label> interior</label>
        <input type="text" formControlName="interior" class="form-control">
        <br>
        <label> motor</label>
        <input type="text" formControlName="motor" class="form-control">
        <br>
        <label> numero de puertas</label>
        <input type="number" formControlName="numero_de_puertas" class="form-control">
        <br>
        <label> rines</label>
        <input type="text" formControlName="rines" class="form-control">
        <br>
        <label> seguridad</label>
        <input type="text" formControlName="seguridad" class="form-control">
        <br>
        <label> tecnologia</label>
        <input type="text" formControlName="tecnologia" class="form-control">
        <br>
        <label> velocidades</label>
        <input type="number" formControlName="velocidades" class="form-control">
        <br>
        <label> vidrios</label>
        <input type="text" formControlName="vidrios" class="form-control">

        <br>
        <button type="submit" class="btnguardar " [disabled]="caracteristicasform.invalid">GUARDAR</button>
      </div>
    </form>
  </div>

  <div class="caracteristicaslista">
    <table class="table table-bordered">

      <thead>
        <tr>
          <th> ID CARACTERISTICA </th>
          <th> CAPACIDAD DE CARGA </th>
          <th> CILIINDROS </th>
          <th> DIRECCION </th>
          <th> INTERIOR </th>
          <th> MOTOR </th>
          <th> NUMERO DE PUERTAS </th>
          <th> AROS </th>
          <th> SEGURIDAD </th>
          <th> TECNOLOGIA </th>
          <th> VELOCIDADES </th>
          <th> VIDRIOS </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caracteristicas of caracteristicasList">
          <td>{{caracteristicas.id_caracteristica}} </td>
          <td>{{caracteristicas.capacidad_carga}} </td>
          <td>{{caracteristicas.cilindros}} </td>
          <td>{{caracteristicas.direccion}} </td>
          <td>{{caracteristicas.interior}} </td>
          <td>{{caracteristicas.motor}} </td>
          <td>{{caracteristicas.numero_de_puertas}} </td>
          <td>{{caracteristicas.rines}} </td>
          <td>{{caracteristicas.seguridad}} </td>
          <td>{{caracteristicas.tecnologia}} </td>
          <td>{{caracteristicas.velocidades}} </td>
          <td>{{caracteristicas.vidrios}} </td>

          <td><button type="submit" class="btn btn-danger" (click)="eliminarCaracteristica(caracteristicas)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
