<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informe Reclamo</title>
</head>
<body>
  <div class="card">
    <div class="card-header">
      Cliente
    </div>
    <div class="card-body">
      <label for="basic-url" class="form-label">Cedula</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="cedulaCliente" id="cedula" aria-describedby="basic-addon3" disabled>
      </div>
    </div>
  </div>
  <p>vehiculo</p>
  <p>Informe Reclamo</p>
  <p>Factura compra</p>
  <p>garantia</p>
  <p>numero factura aduana</p>
  <p>detalle reclamo</p>
  <button>Aprobar</button>
  <button>denegar</button>
</body>
</html>
