<div class="container">
  <p>Ver Vehiculos</p>
  <select [(ngModel)]="estado" (change)="listar()" class="form-select">
    <option [ngValue]="null">Todos</option>
    <option [ngValue]="true">Disponibles</option>
    <option [ngValue]="false">Vendidos</option>
  </select>
<br>

<button class="btn btn-primary"  (click)="agregarV()">AGREGAR VEHICULO</button>
<div  style="text-align: center;">
 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">CHASIS</th>
        <th scope="col">COLOR</th>
        <th scope="col">RAMV</th>
        <th scope="col">PAIS</th>
        <th scope="col">GARANTIA</th>
        <th scope="col">MARCA</th>
        <th scope="col">DISEÑO</th>
        <!--
        <th scope="col">ELIMINAR</th>
        <th scope="col">EDITAR</th>
        -->
        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculo">
        <td scope="row" >{{vehiculo.chasis}}</td>
        <td scope="row">{{vehiculo.color}}</td>
        <td scope="row">{{vehiculo.ramv}}</td>
        <td scope="row">{{vehiculo.pais.nombre}}</td>
        <td scope="row">{{vehiculo.garantia.descripcion}}</td>
        <td scope="row">{{vehiculo.vehiculoCatalogo.diseno.marca}}</td>
        <td scope="row"> {{vehiculo.vehiculoCatalogo.diseno.modelo}} </td>
        <!--
        <td><button type="submit" class="btn btn-success" (click)="eliminar(vehiculo)" >Eliminar</button></td>

        <td><button class="btn btn-primary" type="button" (click)="cargar(vehiculo.chasis)" >Editar</button></td>
        -->
      </tr>
    </tbody>
  </table>
</div>
</div>