<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reclamo Cliente</title>
</head>
<body>
  <div class="card-body" style="width: 1200px;">
    <label for="basic-url" class="form-label">Fecha</label>
    <div class="input-group mb-1">
      <input type="text" class="form-control"  id="Fecha" [(ngModel)]="this.reclamo.fecha_reclamo" aria-describedby="basic-addon3" disabled>
    </div>
    <label for="basic-url" class="form-label">Fecha Solicitud Cliente</label>
    <div class="input-group mb-1">
      <input type="text" class="form-control"  id="fechasolicitud"[(ngModel)]="this.reclamo.fk_id_solicitud.fecha_solicitud" aria-describedby="basic-addon3" disabled>
    </div>
    <label for="basic-url" class="form-label">Descripcion</label>
    <div class="input-group mb-1">
      <div class="form-floating">
        <textarea class="form-control" [(ngModel)]="this.reclamo.fk_id_solicitud.descripcion" placeholder="Descripcion" id="floatingTextarea" style="width: 1170px;height: 300px;" disabled></textarea>
        <label for="floatingTextarea">Descripcion</label>
      </div>
    </div>
 </div>
</body>
</html>
