<br>
<br>
<h2 style="text-align: center;">RECLAMOS REALIZADOS A LA COMERCIALIZADORA</h2>
<div class="container" style="text-align: center;">
    <p>La concesionaria solicita que se verifique la documentacion necesaria y que se notifique en el menor tiempo posible, tanto a nosotros como al cliente dueño del vehículo para saber si su reclamo aplica o no a una reparación por garantía de compra del
        vehículo. A continuación les informamos los reclamos pendientes para su revisión.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>FECHA</th>
                <th>CHASIS DEL VEHÍCULO</th>
                <th>DESCRIPCIÓN</th>
                <th>VER EL RECLAMO</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reclamo of reclamosGaranList">
              <td style="display: none;">{{reclamo.id_reclamo}}</td>
                <td>{{reclamo.fecha_reclamo}}</td>
                <td>{{reclamo.fk_id_solicitud.fk_chasis_vehiculo.chasis}}</td>
                <td>{{reclamo.fk_id_solicitud.descripcion}}</td>
                <td><button class="btn btn-success">PDF</button></td>
                <td>
                    <button (click)="verInformeReclamo(reclamo.id_reclamo,reclamo.fk_id_solicitud.fk_chasis_vehiculo.chasis)" mat-mini-fab color="white" >
                      <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
