<div class="container" style="text-align: center;">
 <form (ngSubmit)="guardar()">
            <label for="exampleInputPassword1">DESCRIPCION</label>
           <input type="text" class="form-control"  [(ngModel)]="garantia.descripcion" [ngModelOptions]="{standalone: true}" > 
           
           <br>      
                <label>DETALLE GARANTIA</label>
                <br>
                <button type="button" class="btn btn-primary" (click)="agregarD()">AGREGAR DETALLE</button>
                <br>
              <hr>
                <div class="panel panel-default"style="text-align: lefth;">
                    <div  class="border" *ngFor="let detalle of garantia.detallegarantia" class="panel-heading">
                        <div  style="text-align: left;"   >
                            <div class="btn btn-danger" (click)="eliminar(detalle)" >Eliminar</div>
                        </div>
                        <div class="panel-body" >
                            <label >COBERTURA</label>
                            <input type="text" class="form-control" placeholder="Cobertura" [(ngModel)]="detalle.cobertura" [ngModelOptions]="{standalone: true}"  >
                        
                        
                            <label >PERIODO</label>
                            <input type="text" class="form-control" placeholder="Periodo" [(ngModel)]="detalle.perido" [ngModelOptions]="{standalone: true}" >
                            
                        </div>
                        
                    </div>
                </div>
        <hr>
    </form>
    
  
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-success" (click)="guardar()">GUARDAR</button>
        <ul></ul>
        <button type="submit" class="btn btn-danger" (click)="cancelar()">CANCELAR</button>
      </div>
</div>