<div class="container row">
  <div class="col-md-12">
      <h1>Cargar imagen del Vehiculo</h1>
  </div>
</div>
<br>
<div class="container1 row">
  <div class="col-md-6">
      <input class="input1" type="file" (change)="onFileChanged($event)" width="700">
      <br>
    <br>
      <div *ngIf="previsualizacion">
        <img class="imgn"
        [src]="previsualizacion" height="300" width="400">
      </div>
  </div>
  <br>
<br><br>
  <div class="col-md-8">
      <input class="btnguardar"  type="button" (click)="onUpload()" value="Guardar imagen">
  </div></div>
<!--
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>-->
