<div class="container row">
  <div class="col-md-12">
      <h1>Cargar imagen del Vehiculo</h1>
  </div>
</div>
<br>
<div class="container1 row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">
      <!--<img [src]="imgURL" height="200" width="200" *ngIf="imgURL">-->
      <div><img [src]="url" *ngIf="url"></div>
  </div>
  <br>


  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="Guardar imagen">
  </div></div>
<!--
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>-->
