<br>
<h1 class="display-4 text-center my-5"> ADMINISTRAR CATALOGO DE VEHICULOS </h1>
<br>
<button class="btnadmin btn-primary" (click)="verCatalogo()" style="text-transform:uppercase;">
  <i class="far fa-reply"></i> regresar a catalogo</button>
<br><br>
<div class="facturarepuesto2">
  <div class="card">
    <form [formGroup]="catalogoform" (ngSubmit)="guardarCatalogo()">
      <h3 class="card-title" style="text-align: center; font-style: bold;">INGRESAR NUEVO CATALOGO</h3>
      <div>
        <label style="text-align: center;text-transform:uppercase;">diseño de vehiculo</label>
        <select name="diseno" id="diseno" formControlName="diseno" class="form-control">
          <option [ngValue]="diseno" *ngFor="let diseno of DisenoList">{{diseno.modelo}}</option>
        </select>
        <br>
        <label style="text-align: center;text-transform:uppercase;"> año del vehiculo</label>
        <input type="number" formControlName="year_vehiculo" class="form-control" min="1999" max="2021"
          placeholder="Ejm: 2015">
        <br>
        <label style="text-align: center;text-transform:uppercase;">caracteristicas del vehiculo</label>
        <select name="caracteristica" id="caracteristica" formControlName="caracteristica" class="form-control">
          <option [ngValue]="caracteristica" *ngFor="let caracteristica of caracteristicaList">
            {{caracteristica.id_caracteristica}}</option>
        </select>
        <br>
        <label style="text-align: center;text-transform:uppercase;">imagen del vehiculo</label>
        <br>
        <button class="btn btn-info" (click)="openDialogVehiculo()" type="button">Agregar Imagen</button>
        <select name="links_imagen" id="links_imagen" formControlName="links_imagen" class="form-control">
          <option [ngValue]="links_imagen" *ngFor="let links_imagen of imagenList">
            {{links_imagen.name}}</option>
        </select>
        <br>
        <!--<input type="file" class="form-control" id="links_imagen" name="links_imagen" formControlName="links_imagen" />-->
        <!--<input type="file" (change)="onFileSelected($event)" formControlName="links_imagen" class="form-control">
        <input type="file" formControlName="links_imagen" class="form-control" >
        <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">-->
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="catalogoform.invalid">GUARDAR</button>
      </div>
    </form>
  </div>
</div>
<br><br>





<div class="container" style="text-align: center;">
  <h3 class="display-4 text-center my-5">LISTADO DE CATALOGO</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center;text-transform:uppercase;"> vehiculo </th>
        <th style="text-align: center;text-transform:uppercase;"> marca </th>
        <th style="text-align: center;text-transform:uppercase;"> modelo </th>
        <th style="text-align: center;text-transform:uppercase;"> año del vehiculo </th>
        <th style="text-align: center;text-transform:uppercase;"> caracteristicas </th>
        <th style="text-align: center;text-transform:uppercase;"> imagen del vehiculo </th>
        <th style="width: 50px"><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let catalogo of catalogoList">
        <td style="text-align: center;text-transform:uppercase;">{{catalogo.id_vehiculo_catalogo}}</td>
        <td style="text-align: center;text-transform:uppercase;">{{catalogo.diseno.marca}}</td>
        <td style="text-align: center;text-transform:uppercase;">{{catalogo.diseno.modelo}}</td>
        <td style="text-align: center;text-transform:uppercase;">{{catalogo.year_vehiculo}} </td>
        <td style="text-align: center;text-transform:uppercase;">{{catalogo.caracteristica.id_caracteristica}} </td>
        <td style="text-align: center;">{{catalogo.links_imagen.name}}

        </td>
        <td><button type="submit" class="btn btn-outline-warning px-3 py-2" (click)="editarCatalogo(catalogo)"><i
              class="fa fa-pencil"></i></button>
          <br>
          <br>
          <button type="submit" class="btn btn-outline-danger px-3 py-2" (click)="eliminarCatalogo(catalogo)"><i
              class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
