<!doctype html>
<html lang="en">
  <p>Catalogo vehiculo</p>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Catalogo vehiculos </title>
  </head>
  <body>
    <div class="facturarepuesto">
      <br>
      <h4>--------- catalogo --------</h4>
      <form [formGroup]="catalogoform" (ngSubmit)="guardarCatalogo()">
        <div>
          <br>
          <label>fk id diseno</label>
          <!--seleccionar id directamente de la tabla de disenos-->
          <select name="id_diseno" id="id_diseno" formControlName="id_diseno" class="form-control">
            <option [ngValue]="diseno" *ngFor="let diseno of disenos">{{diseno.id_diseno}}</option>
          </select>
          <label> año del vehiculo</label>
          <input type="number" formControlName="year_vehiculo" class="form-control">
          <label>fk id caracteristicas</label>
          <!--seleccionar id directamente de la tabla de caracteristicas-->
          <select name="id_caracteristica" id="id_caracteristica" formControlName="id_caracteristica" class="form-control">
            <option [ngValue]="caracteristica" *ngFor="let caracteristica of caracteristicas">{{caracteristica.id_caracteristica}}</option>
          </select>
          <br>
          <label>url de la imagen del vehiculo</label>
          <input type="text" formControlName="links_imagen" class="form-control">
          <br>
          <button type="submit" class="btn btn-success" [disabled]="catalogoform.invalid">GUARDAR</button>
        </div>
      </form>
    </div>
    <br>
    <div class="facturarepuesto">
      <table class="table">
      <thead>
       <tr>
         
         <th> diseno </th>
         <th> año del vehiculo </th>
         <th> caracteristicas </th>
         <th> imagen del vehiculo </th>
       </tr>
      </thead>
       <tbody>
         <tr *ngFor="let catalogo of catalogos">
          
          <td>{{catalogo.id_diseno}}</td>
          <td>{{catalogo.year_vehiculo}} </td>
          <td>{{catalogo.id_caracteristica}} </td>
          <td>{{catalogo.links_imagen}}</td>
          <td><button type="submit" class="btn btn-success" (click)="eliminarCatalogo(catalogo.id_vehiculo_catalogo)">Eliminar</button></td>
         </tr>
       </tbody>
      </table>
    </div>

      <div class="contAutos">
        <div class="card-group mt-3" *ngFor="let catalogo of catalogos">
          <div class="cards">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.5fdd76145f754af1380adfea33d2dbc1?rik=0qxT3za%2ft0cQdA&pid=ImgRaw&r=0" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">spark gt</h5>
              <p class="card-text">{{catalogo.year_vehiculo}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> {{catalogo.links_imagen}}</small>
              <td><button type="submit" class="btnvermas " style="text-align: center;">ver mas</button></td>
            </div>
          </div>

        </div>
      </div>
  </body>
</html>
