.facturarepuesto{
  padding-left: 20%;
  padding-right: 20%;
}
.facturarepuesto2{
  padding-left: 30%;
  padding-right: 30%;
}
.card2{
  padding-left: 10%;
  padding-right: 50%;
}
.card-img-top{
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.contAutos{
  padding-left:5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}
.card{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 590px){
  .contAutos{
  grid-template-columns: repeat(3, 1fr);
}}
.cards{
  margin-top: 5%;
  height: auto;
  width: 90%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0,0.95);
  }
.card-body{
  background-color: #b4bcb4;
}
.card-footer{
  height: auto;
  padding-bottom: 0%;

}
.imagecontainer{
  padding-left:5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.btnadmin {
  margin-left: 5%;
}
