<h1 class="display-4 text-center my-5">CATALOGO DE VEHICULOS</h1>
<div class="facturarepuesto">
    <div class="card">
    <form [formGroup]="catalogoform" (ngSubmit)="guardarCatalogo()">
      <div>
        <label>fk id diseno</label>
        <select name="diseno" id="diseno" formControlName="diseno" class="form-control">
        <option [ngValue]="diseno" *ngFor="let diseno of DisenoList">{{diseno.id_diseno}}</option>
        </select>
        <label> año del vehiculo</label>
        <input type="number" formControlName="year_vehiculo" class="form-control" min="1999" max="2021" placeholder="Ejm: 2015">
        <label>fk id caracteristicas</label>
        <select name="caracteristica" id="caracteristica" formControlName="caracteristica" class="form-control">
          <option [ngValue]="caracteristica" *ngFor="let caracteristica of caracteristicaList">{{caracteristica.id_caracteristica}}</option>
          </select>
        <br>
        <label>url de la imagen del vehiculo</label>
        <input type="text" formControlName="links_imagen" class="form-control" >
        <br>
        <button type="submit" class="btn btn-success" [disabled]="catalogoform.invalid">GUARDAR</button>
      </div>
    </form>
  </div></div>
  <br>
  <div class="facturarepuesto">
    <table class="table table-bordered">

      <thead>
        <tr>
          <th>id vehiculo </th>
          <th> marca </th>
          <th> modelo </th>
          <th> año del vehiculo </th>
          <th> caracteristicas </th>
          <th> imagen del vehiculo </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catalogo of catalogoList">
          <td>{{catalogo.id_vehiculo_catalogo}} </td>
          <td>{{catalogo.diseno.marca}}</td>
          <td>{{catalogo.diseno.modelo}}</td>
          <td>{{catalogo.year_vehiculo}} </td>
          <td>{{catalogo.caracteristica.id_caracteristica}} </td>
          <td>{{catalogo.links_imagen}}</td>
          <br>
          <br>
          <td><button type="submit" class="btneditar btn-warning" (click)="editarCatalogo(catalogo)">Editar</button>
            <br>
            <br>
            <button type="submit" class="btneliminar btn-danger" (click)="eliminarCatalogo(catalogo)">Eliminar</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="contAutos">
    <div class="card-group mt-3" *ngFor="let item of catalogoList">
      <div class="cards">
        <div class="imagecontainer">
          <img class="card-img-top"
            src="https://www.chevrolet.com.ec/content/dam/chevrolet/south-america/ecuador/espanol/vdc-collections/2019/cars/nuevo-beat/nuevo-beat/01-images/2019-beat-top-nav-jellybean.jpg?imwidth=1500"
            alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.diseno.marca}}</h5>
          <p class="card-text">{{item.diseno.modelo}}</p>
          <p class="card-text">{{item.year_vehiculo}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"> {{item.links_imagen}}</small>
          <!--<td><button type="submit" class="btn btn-success">Ver Detalles</button></td>-->
        </div>
      </div>
    </div>
  </div>
